# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# venv
.venv/
venv/

# env
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# logs
*.log

# build
dist/
build/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# docker
*.tar

# qdrant storage (if local)
qdrant_data/

# coverage
.coverage
htmlcov/